# ----------------------------
# Environment & Secrets
# ----------------------------
.env
.env.*

# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# dbt
# ----------------------------
target/
dbt_packages/
manifest.json
run_results.json

# dbt local config
.user.yml

# ----------------------------
# OS / Editor junk
# ----------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# ----------------------------
# Jupyter (optional)
# ----------------------------
.ipynb_checkpoints/

# Local data (defensive)
data/
*.parquet
*.csv

!.env.example